*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box{
    height: 800px;
    background: linear-gradient(135deg,#62b8f5, #4475ef);
    text-align: center;
   
    border: 2px solid red;
    /* background:black; */
}
#box1{
    width: 300px;
    margin: 50px auto;
    padding: 10px 5px;
    /* border: 2px solid; */
    height: fit-content;
    background-color: rgba(253, 253, 253, 0.192);
    /* border-radius: 20px; */
    box-shadow: 5px 15px 7px 3px rgb(32 29 32 / 41%);
    color: white;
}
#inpu{
    border: none;
    border-bottom: 2px solid rgb(219, 216, 216);
    background: none;
    border-radius: 0px;
    outline: none;
    height: 25px;
    color: rgb(247, 91, 91);
    padding: 5px 10px;
}
button{
   padding: 7px 15px;
   background: white;
   border: none;
   text-transform: capitalize;
   font-size: 16px;
   color: rgb(130, 192, 243);
   border-radius: 4px;
}
#name{
    text-transform: uppercase;
    letter-spacing: 6px;
    /* color: darkred; */
    padding: 10px 0;
}
#descripition{
    color: #e9e7e7;
    font-size: 23px;
    /* text-transform: capitalize; */
    letter-spacing: 2px;
}
img{
    width: 150px;
}
#temp{
    font-size: 3.5rem;
}
#descripition1{
    font-size: 25px;
    padding: 10px 0;
}
::placeholder{
    color: white;
    text-transform: capitalize;
}
